# Editor backup and auto-save files
*~
#*#
.saves*
*.lock

# Session and state persistence
filesets-cache.el
places
.emacs.desktop
session.*
recentf
ido.last
history
url/
request/


# Compiled files and package manager caches
*.elc
/.cask/
elpa/
straight/
